
/datasets/csv_files/datasets_subject_01_to_10_scidata/GDN0001
ml_files/models/tempCodeRunnerFile.py
.vscode/tasks.json
ml_files/models/__pycache__/bilstm.cpython-311.pyc
datasets.zip
ml_files/main_files/tempCodeRunnerFile.py
ml_files/models/lstm/predicted_vs_actual.csv
ml_files/models/lstm/wandb/run-20250119_112359-6ikj47if/files/output.log
ml_files/models/lstm/wandb/run-20250119_112359-6ikj47if/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_112359-6ikj47if/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_112359-6ikj47if/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_112359-6ikj47if/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_112359-6ikj47if/run-6ikj47if.wandb
ml_files/models/lstm/wandb/run-20250119_113227-8317wifb/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_113453-7jqteqbi/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_113648-5vg82aa4/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_114104-66clw8lz/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_114304-bgzm62ix/files/output.log
ml_files/models/lstm/wandb/run-20250119_114304-bgzm62ix/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_114304-bgzm62ix/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_114304-bgzm62ix/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_114304-bgzm62ix/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_114304-bgzm62ix/run-bgzm62ix.wandb
ml_files/models/lstm/wandb/run-20250119_115948-1xy91lbz/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_120004-4k73nu0w/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_120049-5r5c1kpa/files/output.log
ml_files/models/lstm/wandb/run-20250119_120049-5r5c1kpa/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_120049-5r5c1kpa/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_120049-5r5c1kpa/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_120049-5r5c1kpa/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_120049-5r5c1kpa/run-5r5c1kpa.wandb
ml_files/models/lstm/wandb/run-20250119_120420-0yxqhgzi/files/output.log
ml_files/models/lstm/wandb/run-20250119_120420-0yxqhgzi/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_120420-0yxqhgzi/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_120420-0yxqhgzi/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_120420-0yxqhgzi/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_120420-0yxqhgzi/run-0yxqhgzi.wandb
ml_files/models/lstm/wandb/run-20250119_121833-a2635tr3/files/output.log
ml_files/models/lstm/wandb/run-20250119_121833-a2635tr3/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_121833-a2635tr3/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_121833-a2635tr3/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_121833-a2635tr3/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_121833-a2635tr3/run-a2635tr3.wandb
ml_files/models/lstm/wandb/run-20250119_122101-vpg4py3y/files/output.log
ml_files/models/lstm/wandb/run-20250119_122101-vpg4py3y/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_122101-vpg4py3y/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_122101-vpg4py3y/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_122101-vpg4py3y/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_122101-vpg4py3y/run-vpg4py3y.wandb
ml_files/models/lstm/wandb/run-20250119_122728-rgxfww3y/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_122745-794ajtgp/files/output.log
ml_files/models/lstm/wandb/run-20250119_122745-794ajtgp/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_122745-794ajtgp/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_122745-794ajtgp/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_122745-794ajtgp/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_122745-794ajtgp/run-794ajtgp.wandb
ml_files/models/lstm/wandb/run-20250119_130543-hjdf2oc5/files/output.log
ml_files/models/lstm/wandb/run-20250119_130543-hjdf2oc5/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_130543-hjdf2oc5/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_130543-hjdf2oc5/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_130543-hjdf2oc5/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_130543-hjdf2oc5/run-hjdf2oc5.wandb
ml_files/models/lstm/wandb/run-20250119_151504-ewujc65z/files/output.log
ml_files/models/lstm/wandb/run-20250119_151504-ewujc65z/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_151504-ewujc65z/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_151504-ewujc65z/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_151504-ewujc65z/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_151504-ewujc65z/run-ewujc65z.wandb
ml_files/models/lstm/wandb/run-20250119_154822-tpgem4oy/files/output.log
ml_files/models/lstm/wandb/run-20250119_154822-tpgem4oy/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_154822-tpgem4oy/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_154822-tpgem4oy/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_154822-tpgem4oy/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_154822-tpgem4oy/run-tpgem4oy.wandb
ml_files/models/lstm/wandb/run-20250119_164503-y6przxc1/files/output.log
ml_files/models/lstm/wandb/run-20250119_164503-y6przxc1/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_164503-y6przxc1/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_164503-y6przxc1/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_164503-y6przxc1/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_164503-y6przxc1/run-y6przxc1.wandb
ml_files/models/lstm/wandb/run-20250119_164606-8ax5wriz/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_165327-gmbyku5v/files/output.log
ml_files/models/lstm/wandb/run-20250119_165327-gmbyku5v/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_165327-gmbyku5v/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_165327-gmbyku5v/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_165327-gmbyku5v/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_165327-gmbyku5v/run-gmbyku5v.wandb
ml_files/models/lstm/wandb/run-20250119_185223-jhbop7y6/files/output.log
ml_files/models/lstm/wandb/run-20250119_185223-jhbop7y6/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_185223-jhbop7y6/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_185223-jhbop7y6/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_185223-jhbop7y6/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_185223-jhbop7y6/run-jhbop7y6.wandb
ml_files/models/lstm/wandb/run-20250119_185700-54phnn5n/files/output.log
ml_files/models/lstm/wandb/run-20250119_185700-54phnn5n/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_185700-54phnn5n/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_185700-54phnn5n/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_185700-54phnn5n/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_185700-54phnn5n/run-54phnn5n.wandb
ml_files/models/lstm/wandb/run-20250119_190238-6rs0tejt/files/output.log
ml_files/models/lstm/wandb/run-20250119_190238-6rs0tejt/files/requirements.txt
ml_files/models/lstm/wandb/run-20250119_190238-6rs0tejt/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250119_190238-6rs0tejt/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250119_190238-6rs0tejt/logs/debug.log
ml_files/models/lstm/wandb/run-20250119_190238-6rs0tejt/run-6rs0tejt.wandb
ml_files/models/lstm/wandb/run-20250120_085100-pgzfo515/files/output.log
ml_files/models/lstm/wandb/run-20250120_085100-pgzfo515/files/requirements.txt
ml_files/models/lstm/wandb/run-20250120_085100-pgzfo515/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250120_085100-pgzfo515/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250120_085100-pgzfo515/logs/debug.log
ml_files/models/lstm/wandb/run-20250120_085100-pgzfo515/run-pgzfo515.wandb
ml_files/models/lstm/wandb/run-20250120_091045-aqn6yfjq/files/output.log
ml_files/models/lstm/wandb/run-20250120_091045-aqn6yfjq/files/requirements.txt
ml_files/models/lstm/wandb/run-20250120_091045-aqn6yfjq/files/wandb-metadata.json
ml_files/models/lstm/wandb/run-20250120_091045-aqn6yfjq/logs/debug-internal.log
ml_files/models/lstm/wandb/run-20250120_091045-aqn6yfjq/logs/debug.log
ml_files/models/lstm/wandb/run-20250120_091045-aqn6yfjq/run-aqn6yfjq.wandb
ml_files/models/resunet/wandb/run-20250119_161631-ndmfm2mw/files/output.log
ml_files/models/resunet/wandb/run-20250119_161631-ndmfm2mw/files/requirements.txt
ml_files/models/resunet/wandb/run-20250119_161631-ndmfm2mw/files/wandb-metadata.json
ml_files/models/resunet/wandb/run-20250119_161631-ndmfm2mw/logs/debug-internal.log
ml_files/models/resunet/wandb/run-20250119_161631-ndmfm2mw/logs/debug.log
ml_files/models/resunet/wandb/run-20250119_161631-ndmfm2mw/run-ndmfm2mw.wandb
ml_files/models/resunet/wandb/run-20250119_162210-sfhl2gxz/logs/debug.log
ml_files/models/resunet/wandb/run-20250119_162442-q4a0jmwj/logs/debug.log
ml_files/models/resunet/wandb/run-20250119_162511-5ltd45yg/logs/debug.log
ml_files/models/resunet/wandb/run-20250119_162537-zioaepl5/files/output.log
ml_files/models/resunet/wandb/run-20250119_162537-zioaepl5/files/requirements.txt
ml_files/models/resunet/wandb/run-20250119_162537-zioaepl5/files/wandb-metadata.json
ml_files/models/resunet/wandb/run-20250119_162537-zioaepl5/logs/debug-internal.log
ml_files/models/resunet/wandb/run-20250119_162537-zioaepl5/logs/debug.log
ml_files/models/resunet/wandb/run-20250119_162537-zioaepl5/run-zioaepl5.wandb
ml_files/models/resunet/wandb/run-20250119_162612-778utgw3/logs/debug.log
ml_files/models/resunet/wandb/run-20250119_163830-nv4m191y/logs/debug.log
ml_files/models/resunet/wandb/run-20250119_164208-9287cmo7/logs/debug.log
ml_files/preprocess/__pycache__/prep.cpython-312.pyc
ml_files/preprocess/__pycache__/preprocess.cpython-312.pyc
/ml_files/models/resunet/wandb
/ml_files/models/unetr/lightning_logs
/ml_files/models/unetr/wandb
